@{
    ViewData["Title"] = "Home Page";
    
}

<div>
    <h2>Оберіть лабораторну</h2>
    
    <ul>
        <li>
            <a asp-action="DisplayLab" asp-route-lab="lab1">Lab 1</a>
        </li>
        <li>
            <a asp-action="DisplayLab" asp-route-lab="lab2">Lab 2</a>
        </li>
        <li>
            <a asp-action="DisplayLab" asp-route-lab="lab3">Lab 3</a>
        </li>
    </ul>

    <h2>Робота з БД</h2>
    <p><a asp-controller="Data" asp-action="BookingStatusesV1">Список Booking Status v1</a></p>
    <p><a asp-controller="Data" asp-action="BookingStatusesV2">Список Booking Status v2</a></p>
    <p><a asp-controller="Data" asp-action="Vehicles">Список Vehicles</a></p>
    <p><a asp-controller="Data" asp-action="Bookings">Список центральної таблиці Booking</a></p>
    
    <h1>Пошук Bookings</h1>

    <form method="get" asp-controller="Data" asp-action="SearchBookings">
        <div>
            <label for="dateFrom">From Date:</label>
            <input type="datetime-local" id="dateFrom" name="dateFrom" />
        </div>
        <div>
            <label for="dateTo">To Date:</label>
            <input type="datetime-local" id="dateTo" name="dateTo" />
        </div>
        <div>
            <label for="statusCodes">Status Codes:</label>
            <select id="statusCodes" name="statusCodes" multiple>
                <option value="PND">Pending</option>
                <option value="CMP">Completed</option>
                <option value="CNC">Cancelled</option>
                <option value="CON">Confirmed</option>
                <option value="NEW">New Boook</option>
            </select>
        </div>
        <div>
            <label for="startVehicleReg">Start Vehicle Reg:</label>
            <input type="text" id="startVehicleReg" name="startVehicleReg" />
        </div>
        <div>
            <label for="endVehicleReg">End Vehicle Reg:</label>
            <input type="text" id="endVehicleReg" name="endVehicleReg" />
        </div>
        <button type="submit">Search</button>
    </form>

    <hr />

</div>
