@{
    ViewData["Title"] = "Lab 3";
}

<h2>Lab 3</h2>
<div>
    <p>
        <h3>Завдання</h3>
        Хлопчику Севі дуже подобається колір індиго (це такий темно-синій колір). Сева всіляко намагається оточити себе речами цього кольору.
Незабаром Новий рік і Сева вирішив виготовити гірлянду з лампочками, щоб прикрасити їй свою кімнату. Він купив n патронів для лампочок і з'єднав (n-1)-ним дротом так, що 
в гірлянді не утворилося жодного замкнутого контуру. Його гірлянда, таким чином, з точки зору математики, є дерево. Для того щоб гірлянда була готова, залишилося зовсім небагато, 
треба тільки додати провід для підключення гірлянди в електричну мережу і вкрутити різнокольорові лампочки в патрони.Сева має лампочки трьох різних кольорів: синього, фіолетового 
та індиго. При цьому деякі патрони з міркувань краси не можна встановлювати лампочки певних кольорів. Також, з міркувань краси, у гірлянді не повинно бути двох лампочок одного кольору, які безпосередньо з'єднані проводом. Зрозуміло, Сева хоче, щоб у гірлянді було якнайбільше лампочок його улюбленого кольору.
Допоможіть Севі. Напишіть програму, яка знайде максимальну кількість лампочок кольору індиго, які можна встановити у зібрану гірлянду.


        <h3>Приклад</h3>
        <h4>INPUT.TXT</h4>
        <pre>
    3
    1 2
    2 3
    IB
    IV
    IB
        </pre>
        <h4>OUTPUT.TXT</h4>
        <pre>
    2
        </pre>
    </p>



</div>

<form asp-action="RunLabs" asp-controller="Home" method="post" enctype="multipart/form-data">
    <div>
        <label for="inputFile">Завантажте файл INPUT.TXT:</label>
        <input type="file" id="inputFile" name="inputFile" accept=".txt" required />
    </div>
    <input type="hidden" name="pathProject" value="@($"../../Lab3/App/App.csproj")" />
    <button type="submit">Виконати</button>
</form>

@if (ViewData["Result"] != null)
{
    <h3>Результати:</h3>
    <pre>@ViewData["Result"]</pre>
}