@model Newtonsoft.Json.Linq.JObject

<h1>Booking Status Details</h1>

<table>
    <tr>
        <th>Code</th>
        <td>@Model["bookingStatusCode"]</td>
    </tr>
    <tr>
        <th>Description</th>
        <td>@Model["bookingStatusDescription"]</td>
    </tr>
</table>
