@model RegisterLoginViewModel
@{
    ViewData["Title"] = "Реєстрація/Авторизація";
}

<h2>Реєстрація/Авторизація</h2>

<form asp-action="Register" method="post">
    <h3>Реєстрація</h3>

    <div class="form-group">
        <label asp-for="Username"></label>
        <input asp-for="Username" class="form-control" maxlength="50" required />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Fullname"></label>
        <input asp-for="Fullname" class="form-control" maxlength="500" required />
        <span asp-validation-for="Fullname" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" type="email" class="form-control" required />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password" class="form-control" required />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" type="password" class="form-control" required />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="PhoneNumber"></label>
        <input asp-for="PhoneNumber" class="form-control" required />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Зареєструватися</button>
</form>

<hr />

<form asp-action="Login" method="post">
    <h3>Авторизація</h3>

    <div class="form-group">
        <label asp-for="Username"></label>
        <input asp-for="Username" type="text" class="form-control" required />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password" class="form-control" required />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Увійти</button>
</form>
